# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
vendor
dist
dist-ssr
*.local
/storage/*.key
/vendor
public/storage/*
public/tmp/*
storage/private/*
.env
public/storage
config/config.ini
db/database.sqlite
storage/private/*
!storage/private/mockups/
!storage/private/mockups/**

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
