@import 'tailwindcss';
@plugin 'tailwindcss-content-visibility';

@theme {
    --font-sans:
        ui-sans-serif, system-ui, 'Segoe UI', Roboto, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --breakpoint-xs: 31.25rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-nav-background: oklch(0.18 0.08 262);

    --color-primary: var(--primary);
    /* --color-primary-foreground: var(--primary-foreground); */

    /* --color-secondary: var(--secondary); */
    /* --color-secondary-foreground: var(--secondary-foreground); */

    /* --color-muted: var(--muted); */
    /* --color-muted-foreground: var(--muted-foreground); */

    /* --color-accent: var(--accent); */
    /* --color-accent-foreground: var(--accent-foreground); */

    /* --color-destructive: var(--destructive); */
    /* --color-destructive-foreground: var(--destructive-foreground); */

    /* --color-border: var(--border); */
    /* --color-input: var(--input); */
    /* --color-ring: var(--ring); */

    --animate-loading: loading 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    @keyframes loading {
        50% {
            opacity: 0.1;
        }
    }
}

@layer base {
    button {
        @apply cursor-pointer;
    }

    body {
        @apply md:text-lg xl:text-xl;
    }

    .app-section {
        @apply py-16 content-visibility-auto md:py-20 xl:py-25;
    }
}

:root {
    --px: 1rem;

    /* sm */
    @media screen and (min-width: 40rem) {
        --px: 4rem;
    }
    /* xl */
    @media screen and (min-width: 80rem) {
        --px: 8rem;
    }
}

.full-bleed-wrapper {
    display: grid;
    grid-template-columns:
        1fr
        calc(100% - (var(--px) * 2))
        1fr;

    /* lg */
}

.full-bleed-wrapper > * {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

.full-bleed-padding > *:not(.full-bleed) {
    margin-inline: var(--padding);
}
